body {
  background: #f4f4f4;
  color: #555;
  margin: 20px;
}
.responsive-google-slides {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 75%;
}
.responsive-google-slides iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  max-height: 450px;
  height: 100%;
}
